p {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
}

h2 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
}

h3 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
}

h1 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
}

div{
    padding-left: 10px;
    padding-right: 10px;
}

table {
background: rgba(255,255,255,0.6);
}
